# This stops Lombok from searching higher in the directory tree for config files:
config.stopBubbling=true
# This will make PIT ignore Lombok-generated classes:
lombok.addLombokGeneratedAnnotation=true
# This will make the @Value annotation work with Jackson:
lombok.anyConstructor.addConstructorProperties=true